<!DOCTYPE html>

<html>
<head>
<link href="bootstrap.css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII" />
<title>Reset Password</title>
</head>
<body>
	<div class="container">
		<div class="span12">
			<h1>Reset password</h1>
			<div>
				<br/> <label>Email</label><input id="email" name="email"
					type="email" value="" />

				<button type="submit" onclick="resetPass()">password</button>
			</div>

			<br/> <a href="/user/registration"> Registration</a> <br/> <a
				href="login"> login link</a>

		</div>
	</div>

	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript">
		function resetPass() {
			var email = $("#email").val();
			$
					.post(
							"/user/resetPassword",
							{
								email : email
							},
							function(data) {
								window.location.href = "/login"
										+ "?message=" + data.message;
							})
					.fail(
							function(data) {
								if (data.responseJSON.error
										.indexOf("MailError") > -1) {
									window.location.href = "/emailError";
								} else {
									window.location.href = "/login.html"
											+ "?message="
											+ data.responseJSON.message;
								}
							});
		}
	</script>
</body>

</html>